In [1]:
import numpy as np
import pandas as pd

In [31]:
paths = ["raw-datasets/0910_b_test.csv", "raw-datasets/0910_b_train.csv"]

student_id = 0
rows = []

for path in paths:
    with open(path, 'r') as f:
        lines = [l.strip() for l in f.readlines()]

    skill_seqs = lines[1::3]
    correct_seqs = lines[2::3]

    paired = list(zip(skill_seqs, correct_seqs))


    for skill_seq, correct_seq in paired:
        skill_seq = [int(s) for s in skill_seq.split(',')]
        correct_seq = [int(s) for s in correct_seq.split(',')]
        for skill, correct in zip(skill_seq, correct_seq):
            rows.append({
                "student" : student_id,
                "skill" : skill,
                "correct" : correct,
                "skill_name" : skill
            })
        student_id += 1

df = pd.DataFrame(rows)

print("Trials: %d" % df.shape[0])
print("Students: %d" % len(set(df['student'])))
print("Skills: %d" % len(set(df['skill'])))
df.to_csv("datasets/assistment2009b.csv", index=False)

Trials: 327987
Students: 4216
Skills: 123

In [30]:
set(range(146)) - set(df['skill'])

{143}

In [27]:
len(df['skill'])

275176

In [28]:
len(set(df['skill']))

145

In [29]:
set(df['skill'])

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 144,
 145}