# Process Synthetic Dataset

In [1]:
import numpy as np
import pandas as pd
from utils import min_seq_len_filter

In [2]:
MIN_SEQ_LENGTH = 10
path = "raw-datasets/synthetic.txt"

In [6]:
dataset = []
student_id = -1
with open(path, 'r') as f:
    for line in f.readlines():
        student_id += 1
        parts = line.strip().split(',')
        for i in range(len(parts)):
            dataset.append({
                "correct" : int(parts[i]),
                "skill" : i, 
                "student" : student_id,
                "problem" : i,
                "skill_name" : i
            })

output_df = pd.DataFrame(dataset)
output_df = min_seq_len_filter(df, MIN_SEQ_LENGTH)
output_df

        correct  skill  student  problem  skill_name
0             0      0        0        0           0
1             1      1        0        1           1
2             1      2        0        2           2
3             1      3        0        3           3
4             0      4        0        4           4
...         ...    ...      ...      ...         ...
199995        1     45     3999       45          45
199996        1     46     3999       46          46
199997        1     47     3999       47          47
199998        1     48     3999       48          48
199999        1     49     3999       49          49

[200000 rows x 5 columns]

In [7]:
print("Trials: %d" % output_df.shape[0])
print("Students: %d" % len(set(output_df['student'])))
print("Skills: %d" % len(set(output_df['skill'])))
print("Problems: %d" % len(set(output_df['problem'])))

Trials: 200000
Students: 4000
Skills: 50
Problems: 50

In [8]:
output_df.to_csv("datasets/synthetic.csv", index=False)